@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600|Mulish:400,700");
* {
  box-sizing: border-box;
}

.main-button { 
    /* width: 50px; */
    cursor: pointer;
  
}


.button {
  align-items: flex-start;
  display: flex;
  width: 159px;
  text-transform: uppercase;
  /* cursor: pointer; */
  /* text-decoration: none; */
}
.field {
  letter-spacing: 0px;
  min-height: 20px;
  text-align: center;
  /* width: 57px; */
}
.overlap-group {
  align-items: center;
  background-color: #9B14EE;
  /* background-image: url(https://anima-uploads.s3.amazonaws.com/projects/604a55581956acf622fcae3b/releases/6050eada5b9ec4b3a601b60f/img/rectangle-286-1@2x.svg); */
  background-size: 100% 100%;
  display: flex;
  height: 54px;
  justify-content: flex-end;
  min-width: 157px;
  padding: 0 54px;
  border-radius: 50px;
}
.poppins-bold-white-14px {
  color: white;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}


.header__button:hover {
    
  transition: all .5s ease 0s;
  transform: translateX(-5px);
  
}